[Unit]
Description=qBittorrent Helper
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=youruser
Group=youruser
WorkingDirectory=/home/youruser/qbittorrent-helper
ExecStart=/home/youruser/qbittorrent-helper/.venv/bin/python /home/youruser/qbittorrent-helper/main.py --config /home/youruser/qbittorrent-helper/config.json
TimeoutStartSec=120
